# Ignore node_modules directory
node_modules/

# Ignore build artifacts
lib/
dist/

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.bak
*~.nib
*.log

# Ignore compiled TypeScript files
*.js
*.d.ts
*.map
*.tsbuildinfo

# Ignore package-lock.json and yarn.lock and pnpm-lock.yaml
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore any other temporary files or caches
*.tmp
*.temp
*.cache
*.DS_Store
